.container{
  h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-left: 3rem;
  }
  .changeLang{
    display: flex;
    color: white;
    margin-left: 3rem;

    .buttonLang{
      text-decoration: none;
      font-weight: 700;
      font-size: 1.6rem;
      padding: 0 1.8rem;
      cursor: pointer;
      color: var(--white);
      &:hover {
        color: var(--primary);
      }
    }
  }
}